@media screen and (max-width: 767px) {
  #wrapper {
    width: 300px;
  }
  header {
    width: 300px;
  }
  .center-left {
    width: 100px;
  }
  .center1 {
    width: 125px;
  }
  .center2 {
    width: 125px;
  }
  .center3 {
    width: 200px;
  }
  .center-light {
    width: 75px;
  }
}


@media screen and (max-width: 479px) {
  #wrapper {
    width: 150px;
  }
  header {
    width: 100%;
  }
  .center-left {
    float: none;
    width: 100%;
  }
  .center-light {
    float: none;
    width: 100%;
  }
  .center1 {
    float: none;
    width: 100%;
  }
  .center2 {
    float: none;
    width: 100%;
  }
  .center3 {
    float: none;
    width: 100%;
  }
}